.DS_Store
build/
.idea
.gradle
local.properties
*.iml
npm-debug.log
yarn-error.log
node_modules
template/node_modules
template/ts-src-override/tsconfig.dev.ts
template/ts-src-override/tsconfig.ts
template/ios/Pods
template/android/app/build
template/android/.gradle
template/android/.idea
template/.gitattributes
template/.watchmanconfig
template/plugins/README.md
documentation
.idea
.github
